@charset "utf-8";

:root {
	--layout: "screen-59-landscape";
}

.top-bar.stacked-for-large .top-bar-left, .top-bar.stacked-for-large .top-bar-right {
	flex: 0 1 auto;
}

/* [Define Grid Container] */
.grid-layout-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 4em 33vh 1fr;
	grid-template-areas:	"menu"
							"section"	
							"content";
	grid-gap: 0;
}

.dropdown.menu {
	align-items: center;
}

.menu .menu-text { padding: 0; }

li.display.logo.position { margin: 0; }

form.search-form { margin-right: 1em; }

.top-bar input { max-width: 59ch; }

.mailpoet_form input.mailpoet_text,
form.contact-form,
.contact-form input[type="email"], .contact-form input[type="text"], .contact-form input[type="url"],
select,
textarea {
	max-width: 59ch !important;
}

.wp-block-image img, img {
	max-width: 59em;
	max-width: 59ch;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.section > section header h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: .125em .25em;
}

main .nav-next,
main .nav-previous,
main .entry-meta {
	text-align: center;
	margin: 1em auto;
}

/* .single div.content main, */
.single div.content main article div.the.content {
	columns: 39ch auto;
	margin: 2em auto;
	column-gap: 2em;
}

.page div.content main p,
.page div.content main ul,
.page div.content main ol,
.page div.content main table,
.page div.content main blockquote,
.page div.content main article .wp-block-button,
.page div.content main article p,
.page div.content main article ul,
.page div.content main article ol,
.page div.content main article table,
.page div.content main article blockquote,
.page div.content main article figcaption,
.single div.content main p,
.single div.content main ul,
.single div.content main ol,
.single div.content main table,
.single div.content main blockquote,
.single div.content main article .wp-block-button,
.single div.content main article p,
.single div.content main article ul,
.single div.content main article ol,
.single div.content main article table,
.single div.content main article blockquote,
.single div.content main article figcaption,
div.content main .term-description,
.sd-content ul,
.woocommerce table.shop_table,
.wc-proceed-to-checkout a.checkout-button,
iframe.youtube-player {
	max-width: 59ch;
	margin-right: auto;
	margin-left: auto;
}



.search div.content main article p {
	max-width: 59ch;
	margin-right: auto;
	margin-left: auto;
}

div.columns {
	column-count: auto;
	column-gap: 1em;
	column-width: 59ch;
}

div.span-all.columns {
	column-count: 1;
	max-width: 59ch;
}

.grid-x .cell hr {
	margin: 2em;
}

ul.products li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
ul.wc-block-grid__products li.wc-block-grid__product,
div.wc-block-grid.has-3-columns li.wc-block-grid__product,
.gallery-item,
.flex-item {
	flex: 0 1 auto;
	align-self: stretch;
	margin: 0 var(--set_column_margin) !important;
	float: none;
	width: 100% !important;
	min-width: 256px;
	max-width: var(--set_column_width) !important;
	text-align: center;
}

.media-object {
	width: 59ch;
	margin: auto;
}
.media-object .thumbnail {
	background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    max-width: 9em;
    max-height: 9em;
    background-size: cover;
}
.media-object .thumbnail img { 
	min-height:100%;
    min-width:100%;
    opacity:0;
}

/*
.woocommerce ul.products li.product .onsale {
	top: 0;
	right: 0;
	left: auto;
	margin: -.5em -.5em 0 0;
}

.woocommerce span.onsale {
	min-height: 3.236em;
	min-width: 3.236em;
	padding: .202em;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	line-height: 3.236;
	margin: 0;
	border-radius: 100%;
	font-size: .857em;
	z-index: 9;
	float: right;
}
*/

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
	margin: 1em;
	width: 18ch;
}