@charset "utf-8";

:root {
	--layout: "screen-39-59-portrait";
}

/* [Define Grid Container] */
.grid-layout-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 4em 33vh 1fr;
	grid-template-areas:	"menu"
							"section"
							"content";
	grid-gap: 0;
	overflow: auto;
}

.top-bar input { max-width: 16ch; }

.mailpoet_form input.mailpoet_text,
form.contact-form,
.contact-form input[type="email"], .contact-form input[type="text"], .contact-form input[type="url"],
select,
textarea {
	max-width: 39ch;
}

.wp-block-image img, img {
	max-width: 39ch;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.section > section header h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: .125em .25em;
}

main .nav-next,
main .nav-previous {
	text-align: center;
	margin: 1em auto;
}

/*.single div.content main, */
.single div.content main article div.the.content {
	columns: 39ch auto;
	margin: 2em auto;
	column-gap: 2em;
}

.page div.content main p,
.page div.content main ul,
.page div.content main ol,
.page div.content main table,
.page div.content main blockquote,
.page div.content main article .wp-block-button,
.page div.content main article p,
.page div.content main article ul,
.page div.content main article ol,
.page div.content main article table,
.page div.content main article blockquote,
.page div.content main article figcaption,
.single div.content main p,
.single div.content main ul,
.single div.content main ol,
.single div.content main table,
.single div.content main blockquote,
.single div.content main article .wp-block-button,
.single div.content main article p,
.single div.content main article ul,
.single div.content main article ol,
.single div.content main article table,
.single div.content main article blockquote,
.single div.content main article figcaption,
.sd-content ul,
.woocommerce table.shop_table,
.wc-proceed-to-checkout a.checkout-button,
iframe.youtube-player {
	max-width: 39ch;
	margin-right: auto;
	margin-left: auto;
}

.search div.content main article p {
	max-width: 39ch;
	margin-right: auto;
	margin-left: auto;	
}

div.columns {
	column-count: auto;
	column-gap: 1em;
	column-width: 39ch;
}

div.span-all.columns {
	column-count: 1;
	max-width: 39ch;
}

.grid-x .cell hr {
	margin: 2em;
}

ul.products li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.gallery-item,
.flex-item {
	flex: 0 1 auto;
	align-self: stretch;
	margin: 0 var(--set_column_margin) !important;
	float: none;
	width: 100% !important;
	min-width: 256px;
	max-width: var(--set_full_column_width) !important;
	text-align: center;
}

.media-object {
	max-width: 39ch;
	margin: auto;
}
.media-object .thumbnail {
	background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    max-width: 9em;
    max-height: 9em;
    background-size: cover;
    margin: 0 auto;
}
.media-object .thumbnail img { 
	min-height:100%;
    min-width:100%;
    opacity:0;
}

.woocommerce #content table.cart td.actions .coupon .button, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon input, .woocommerce table.cart td.actions .coupon .button, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon input, .woocommerce-page #content table.cart td.actions .coupon .button, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon input, .woocommerce-page table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon input {
	width: 100%;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
	margin: auto;
}

#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table {
	margin: auto;
}