@charset "utf-8";

:root {
	--layout: "screen";
}

/**
 **  MAX-WIDTHS SHOULD BE RESERVED FOR LARGER BREAKPOINTS **
 **/

/* BASE LAYOUT STYLE */
body {

	/* Hide horizontal scrolling, if content is butting against the edge of the viewport. */
	overflow-x: hidden;
	
}

/* apply a natural box layout model to all elements */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mobile.logo.position {
	display: inline-block;
	height: 7rem;
	height: 7ch;
	width: 100%;
	text-align: center;
	margin: 1rem;
}

.logo.position img {
	height: 5rem;
	height: 5ch;
}

.mobile.logo.position img {
	height: 100%;
}

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
	left: 0;
	top: 100%;
}

a, a:link, a:hover, a:focus, a:active,
input, input:link, input:hover, input:focus, input:active,
button, button:link, button:hover, button:focus, button:active,
.button, .button:link, .button:hover, .button:focus, .button:active,
.wp-block-button__link, .wp-block-button__link:link, .wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active,
ul.products li.product .button {
	transition: 125ms ease-in-out;
}

.wc-block-grid__products {
	display: flex;
	justify-content: center;
}

/*
a.button, a.button:link, a.button:hover, a.button:focus, a.button:active {
	display: flex;
	margin: auto;
	/*
	margin-left: 1em;
	margin-right: 1em;
	**
}
*/

.wrap { margin: 1rem auto; }

/* [Control Grid Parameters] */
.off-canvas-wrapper {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.cell { 
	padding: 0 1rem;
	flex: 0 1 auto;
	width: auto;
}

.grid-x { margin: 2rem auto; }

ul { line-height: 1; }

.wp-block-button {
	min-height: 56px;
	min-width: 80px;
	height: auto;
	border-radius: .25rem;
}

.select2-container .select2-selection--single,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled],
select, input:not([type="checkbox"]), button, .button, .button.expanded, .wp-block-button__link,
[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea {
	min-height: 56px;
	min-width: 80px;
	margin: 1rem auto;
	padding: 1rem;
	border-radius: .25rem;
	height: auto;
}

/* Consolidate Wordpress and Foundation button class styles */
div.wp-block-buttons > div.wp-block-button.button { padding: 0; }
div.wp-block-button.button > a.wp-block-button__link { margin: 0; background-color: inherit; }
div.wp-block-button.button > a.wp-block-button__link:hover { background-color: inherit; }

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: none;
	width: 100%;
}

button, .button, 
.single_add_to_cart_button.button,
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	margin: 1rem 0;
}

.woocommerce table.shop_table,
#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table {
	margin: 1em auto;
}

#add_payment_method table.cart input, .woocommerce-cart table.cart input, .woocommerce-checkout table.cart input {
	margin: auto;
	margin-right: 0;
}

form.search-form .screen-reader-text {
	display: none;
}

form.search-form label {
	display: inline-block;
}

.mailpoet_form .mailpoet_text, .mailpoet_form .mailpoet_textarea { width: 100% !important; }

hr,
.woocommerce-breadcrumb, .woocommerce-pagination,
canvas {
	margin: 1.5rem auto;
}

ul.page-numbers { text-align: center; }

.callout.secondary {
	margin: 2rem auto;
}

.button.expanded {
	width: auto;
}

.close-button {
	top: 0;
	right: 0;
	position: relative;
}

.clear-off-canvas-close-button {
	/* margin-top: 1rem; */
}

.tag-cloud-link {
    border-radius: 1em;
    display: inline-block;
    margin: .25em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0em .5em;
}

/** [MENU STYLES] **/

/* [Mobile Menu] */
.main_mobile_menu {
	position: fixed;
	width: 100vw;
	grid-area: menu;
	background-color: white;
	z-index: 1;
	top: 0;
	display: flex;
}

/* [Screen Menu] */
.main_screen_menu {
	width: 100%;
	grid-area: menu;
	/* z-index: 1; */
	top: 0;
}

.top-bar { padding: 0; }

.section {
	grid-area: section;
	display: flex;
}
.section { align-items: center; }
.section h1 {
	text-align: center;
	color: white;
	font-weight: bold;
}

/*
.section.header .entry-title {
	columns: auto 1;
}
*/

.the.exerpt { position: relative; }
.the.exerpt img { width: 100%; }

.content {
	grid-area: content;
	margin: 1rem;
}

/* [Desktop Menu] */
.dropdown.menu,
.submenu.menu
{ 
	margin: 0;
}
.menu.nested {margin-left: 0 }
.menu li { font-weight: bold; }
.menu .nested li { font-weight: normal; }

.off-canvas-menu > li > a,
.off-canvas-menu .sub-menu > li > a {
	border-bottom: 1px solid;
}

.media-object {
	width: 100%;
	margin: auto;
}
.media-object .thumbnail {
	background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    min-height: 56px;
	min-width: 80px;
}
.media-object .thumbnail img { 
	min-height:100%;
    min-width:100%;
    opacity:0;
}

div.product_meta {
	margin: 1em 0;
}
div.product_meta span {
	display: block;
}

iframe.youtube-player { width: 100%; }

/* [Foundation Top-Bar Menu Example] *
**
.menu .menu-text { padding: 0; }
.sub-menu {
	display: none;
	transition-delay: 5s;
}

.home.url.item  a {
	padding: .7rem 1rem;
}

.dropdown.menu > li.menu-item-has-children:hover > a + .sub-menu,
.dropdown.menu > li.menu-item-has-children > a:hover + .sub-menu,
.dropdown.menu > li.menu-item-has-children > .sub-menu:hover
{
	display: flex;
	list-style: none;
	position: absolute;
	z-index: 1;
	border: 1px solid #cacaca;
	left: 0;
	right: 1em;
	top: auto;
	margin: 0;
	transition-delay: 5s;
}
*/

/* [Sharedaddy and Comments Alignment] */
.sharedaddy {
	text-align: center;
}

.sd-content ul {
	margin: auto !important;
}

.fb-comments {
	margin-right: auto;
	margin-left: auto;
}