@charset "utf-8";

@page {
	margin: 0.5in;
}

body {
	background: white;
	color: black;
	margin: 0;
	font-size: 10pt;
	
	/*
	width:  8.5in;
	height:  11in;
	*/
}

header {
	border: 1pt solid;
	padding: 1ex 2ch;
	margin:  0 2ch 2em;
}

.quick-fact-box {
	border-right: 3pt solid;
	padding: 2ex 2em;
	color: black;
	background-color: hsl(0, 0%, 85%) !important;
}

.details-box {
	padding-left: 2em;
	/* padding-right: 1pt; */
}

h1,h2,h3,h4,h5,h6 {
	border-bottom: 1pt solid;
	page-break-after: none;
}

header h1 {
	border-bottom: none !important;
	font-size: 3rem !important;
}

/* Hide these elements and classes */
nav,
.screen-reader-text,
.skip-link,
.search-form,
.menu-container,
.grid_area_exerpt,
.navigation,
.post-navigation,
.grid-layout-footer
{
	display: none;
}

p {
	page-break-before: auto;
}

.wp-block-columns {
	flex-wrap: nowrap;
}